*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.banner{
    background-color: #af8fff7d;
    color: rgb(0, 30, 94);
    text-align: center;
    padding: 100px 0;
}

#DaPic {
    width: 50%;
}

.more{
    text-align: center;
    background-color: blanchedalmond;
    color: black;
    padding: 50px 0;
}

button{
    margin: 4px 8px;
    background-color: blue;
    color: white;
}
